# Python bytecode files
*.pyc
*.pyo
__pycache__/

# Virtual environment folders
venv/
.env/
.venv/

# # IDE / Editor specific files
# .vscode/
# .idea/

# # Jupyter Notebook checkpoints
# .ipynb_checkpoints/

# # PyCharm-specific files
# *.iml

# # MacOS system files
# .DS_Store

# # Windows system files
# Thumbs.db

# # Logs and temporary files
# *.log
# *.bak
# *.swp
  
# # Any other system-specific or environment-specific files
# *.env
